 a{
    margin: 5px;
    /* text-decoration: none; */
 }
#objective{
    text-align: left;
 }
 #contact{
    /* margin: 10px; */
    text-align: center;
 }
 #connect{
    text-align: center;
 }
 /* #education{
    text-align: center;
 } */
 #education2{
    text-align: center;
 }
 #name{
    text-align: center;
    color: aquamarine;
}
#obj{
    text-align: center;
    color: aquamarine;
}
/* h6{
    text-align: center; */
/* } */
body{
    background: linear-gradient(to bottom,#ff6e7f,#bfe9ff);
    /* color: antiquewhite; */
}
/* h5{
    text-align: center;
} */
 /* h5,h4{
    /* display: inline; */
    /* text-align: center; */
/* } */ 
body>#pro{
    text-align: center;
}
/* td{
    text-align: center;
} */
hr{
border-style: dotted none none ;
width: 10%;
border-width: 6px;
border-color:grey;
}
p{
    text-align: center;
}
